body {
  height: 100vh;
  width: 30rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-menu span {
  padding: 10px 20px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.tab-menu .active {
  color: #000;
  font-weight: bold;
}

.tab-menu span:not(.active):hover {
  color: #999;
}

.component-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
