body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjusts distribution of children */
  align-items: center;
  height: 100vh; /* Ensure it covers the full height */
  width: 20rem;
  margin: 0 auto; /* Center the body horizontally */
  padding: 20px; /* Increased padding for better spacing */
  box-sizing: border-box;
}

h1, .button-link, p {
  margin-bottom: 20px; /* Adds bottom margin to all headings, buttons, and paragraphs for spacing */
}

/* Ensure the footer text is placed at the bottom */
footer {
  align-self: stretch; /* Stretch to the full width of the container */
  text-align: center; /* Center the text */
  margin-top: auto; /* Pushes the footer to the bottom */
  font-size: 0.75rem; /* Smaller font size for footer text */
  color: #666; /* Lighter text color for the footer */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Adds top margin for spacing from elements above */
  width: 100%; /* Full width */
}

li {
  padding: 10px 0; /* Adds vertical padding */
  background-color: #f8f8f8; /* Light background for visibility */
  border-bottom: 1px solid #ddd; /* Adds a subtle separator */
}

a {
  display: block; /* Makes links full width */
  padding: 10px 20px;
  margin-bottom: 10px; /* Adds spacing between buttons */
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

a:hover {
  background-color: #0056b3;
}
